<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
  <div class="dashboard_right_wrapper">
    <div class="dashboard1_div1 table-responsive">
      <h4>Ip Track Report</h4>

      <div class="tablediv">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th>Ip Address</th>
            <th>User</th>
            <th>Time</th>
          </tr>
          <tr *ngFor="let item of datalist; let i = index">
            <td>{{item.ip}}</td>
            <td>{{getUserName(item)}}</td>
            <td>{{ item.time*1000 | date:'MM/dd/yyyy hh:mma'}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
