<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 dashboard_left">
  <h2 *ngIf="userdetails">Welcome <span>{{getFullname(userdetails)}}</span> </h2>
  <ul>
    <li *ngIf="isadmin == 1"><a [routerLink]="['/admin-dashboard']">Main</a></li>
    <li *ngIf="isadmin == 0"><a [routerLink]="['/dashboard']">Main</a></li>
    <li *ngIf="isadmin == 1"><a [routerLink]="['/admin-list']">Admin List</a></li>
    <li *ngIf="isadmin == 1"><a [routerLink]="['/user-list']">Customer List</a></li>
    <li *ngIf="isadmin == 1"><a [routerLink]="['/currency']">Currency Management</a></li>
    <li *ngIf="isadmin == 1"><a [routerLink]="['/add-fund']">Add Fund</a></li>
    <li *ngIf="isadmin == 0"><a [routerLink]="['/transaction-list']">Transaction List</a></li>
    <li *ngIf="isadmin == 1"><a [routerLink]="['/all-transaction-list']">Transaction List</a></li>
    <li *ngIf="isadmin == 0"><a [routerLink]="['/statement']">Statement</a></li>
    <li *ngIf="isadmin == 0"><a [routerLink]="['/money-transfer']">Transfer Money</a></li>
    <li *ngIf="isadmin == 0"><a [routerLink]="['/international-payment']">International Payment</a></li>
    <li *ngIf="isadmin == 1"><a [routerLink]="['/ip-track']">Ip Track</a></li>
    <li><a [routerLink]="['/my-profile']">My Profile</a></li>
    <li><a [routerLink]="['/change-password']">Change Password</a></li>
    <li><a [routerLink]="['/logout']">Logout</a></li>
  </ul>
</div>
