<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 dashboard_left">
  <h2>Welcome <span>{{username}}</span> </h2>
  <ul>
    <li *ngIf="isadmin == 1"><a [routerLink]="['/admin-dashboard']">Main</a></li>
    <li *ngIf="isadmin == 0"><a [routerLink]="['/dashboard']">Main</a></li>
    <li *ngIf="isadmin == 1"><a [routerLink]="['/admin-list']">Admin List</a></li>
    <li *ngIf="isadmin == 1"><a [routerLink]="['/user-list']">User List</a></li>
    <li *ngIf="isadmin == 0"><a [routerLink]="['/transaction-list']">Transaction List</a></li>
    <li *ngIf="isadmin == 1"><a [routerLink]="['/all-transaction-list']">Transaction List</a></li>
    <li *ngIf="isadmin == 0"><a [routerLink]="['/statement']">Statement</a></li>
    <li *ngIf="isadmin == 0"><a [routerLink]="['/money-transfer']">Transfer Money</a></li>
    <li *ngIf="isadmin == 1"><a [routerLink]="['/ip-track']">Ip Track</a></li>
<!--    <li><a href="javascript:void(0)">Account details</a></li>
    <li><a href="javascript:void(0)">Change password</a></li>-->
    <li><a [routerLink]="['/logout']">Logout</a></li>
  </ul>
</div>
