

<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
  <div class="dashboard_right_wrapper">
    <div class="dashboard1_div1 ">
      <h4> Change Password</h4>
      <div class="dashboard1form">
        <form role="form" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">
          <div class="help-block" *ngIf="showvalidateerror">{{showvalidateerror}}</div>
          <div class="form-group" ngClass="{{haserrorcls('oldpassword')}}">
            <label>Old Password</label>
            <input type="password" class="form-control" placeholder="Old Password" [formControl]="dataForm.controls['oldpassword']">
            <div class="help-block" ngClass="{{showerrorcls('oldpassword')}}">Old Password is required</div>
          </div>
          <div class="form-group" ngClass="{{haserrorcls('password')}}">
            <label class="col-sm-2 control-label">New Password</label>
            <input type="password" class="form-control" placeholder="New Password" [formControl]="dataForm.controls['password']">
            <div class="help-block" ngClass="{{showerrorcls('password','required')}}">Password is required</div>
            <div class="help-block" ngClass="{{showerrorcls('password','alphanumeric2')}}">Password must contain at least one lower case character. Password must contain at least one upper case character. Password must contain at least one integer .Password must contain at least one special charecter and must be more than 8 charecters such as '^!,@,#,$,%,^,&,*,(,),_,+,' !!</div>
          </div>
          <div class="form-group" ngClass="{{haserrorcls('confpassword')}}">
            <label class="col-sm-2 control-label">Confirm Password</label>
            <input type="password" class="form-control" placeholder="Confirm Password"  [formControl]="dataForm.controls['confpassword']">
            <div class="help-block" ngClass="{{showerrorcls('confpassword')}}">Confirm Password is required</div>
            <div class="help-block" ngClass="{{showerrorcls('confpassword','match')}}">Password does not match</div>
          </div>

          <input type="submit" value="Save" class="loginbtn2">

          <div class="clearfix"></div>




        </form>
      </div>
    </div>
  </div>
</div>
