<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
  <div class="dashboard_right_wrapper">
    <div class="dashboard1_div1">
      <h4 style="margin: 0 0 10px 0;">Currency Conversion Rates</h4>
      <button type="button" (click)="updatecurrency()" class="loginbtn2" style=" float: right; display: inline-block; margin: 0 0 10px 0; padding: 10px">Update Currency</button>
      <div class="tablediv" style="margin-bottom: 10px;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="font-size: 14px;"><label class="mplabel">EURO :</label> {{ueur}}<br><label class="mplabel">GBP :</label> {{ugbp}}</td>
          </tr>
          <tr>
            <td style="font-size: 14px;"><label class="mplabel">USD :</label> {{gusd}}<br><label class="mplabel">EURO :</label> {{geur}}</td>
          </tr>
          <tr>
            <td style="font-size: 14px;"><label class="mplabel">USD :</label> {{eusd}}<br><label class="mplabel">GBP :</label> {{egbp}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
