<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
  <div class="dashboard_right_wrapper">
    <div *ngIf="userdetails" class="dashboard1_div1">
      <div class="tablediv">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th>Name</th>
            <th>Address</th>
          </tr>
          <tr>
            <td>{{userdetails.firstname}} {{userdetails.lastname}}</td>
            <td>{{userdetails.address}}, {{userdetails.city}}, {{userdetails.state}}, {{userdetails.zip}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div *ngIf="userdetails" class="dashboard1_div1">
      <h4>Accounts</h4>
      <div class="tablediv">
        <table width="100%" border="0" cellspacing="0" cellpadding="0"  >
          <tr>
            <th>Account No</th>
            <th>Type</th>
            <th>Balance</th>
            <th>Currency</th>
            <th>Description</th>
          </tr>
          <tr *ngFor="let item of accounts; let i = index">
            <td>{{item.account_no}}</td>
            <td>{{item.account_type}}</td>
            <td>{{getAcBal(item.account_no)}}</td>
            <td>{{item.currency}}</td>
            <td>{{getAccountStatus(item)}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div *ngIf="userdetails" class="dashboard1_div1 table-responsive">
      <h4>Last transactions</h4>
      <div class="tablediv">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th>Account No</th>
            <th>Description</th>
            <th>Type</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Currency</th>
            <th>Status</th>
          </tr>
          <tr *ngFor="let item of transaction; let i = index">
            <td>{{item.account_no}}</td>
            <td>{{getDescription2(item)}}<br>Reference: {{item.description}}</td>
            <td>{{(item.type == 1)?'Credit':'Debit'}}</td>
            <td>{{ (item.time*1000) | date : "dd MMM yyyy"}}</td>
            <td>{{(item.status == 3)?item.cancel_amount:item.amount}}</td>
            <td>{{item.currency}}</td>
            <td>{{getStatus(item)}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
